<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Report.Properties.Settings.ConnectionString" connectionString="Data Source=GREEN-PC;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Report.Properties.Settings.ConnectionString1" connectionString="Data Source=192.168.20.1;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Report.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=WIN-1BTGVF188PL;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>