<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AnnonContext"
         connectionString="Data Source=localhost;Initial Catalog=Annon;Integrated Security=true;User ID=sa;Password=tongji;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<connectionStrings>
    <add name="AnnonContext" 
         connectionString="Data Source=D:/Annon.sdf" 
         providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>-->
  
</configuration>